tests/           export-ignore
docs/            export-ignore
.superpowers/    export-ignore
.idea/           export-ignore
.gitattributes   export-ignore
.gitignore       export-ignore
Makefile         export-ignore
pytest.ini       export-ignore
requirements-dev.txt export-ignore
csfd-meta.iml    export-ignore
relay/           export-ignore
